.quote {
  font-family: var(--font-family-primary);
}
.quote__date {
  color: var(--color-white);
  background-color: var(--color-blue-dark-type-2);
  padding: 10px 20px;
}
.quote__header {
  display: flex;
}
.quote__current-price {
  display: flex;
  align-items: center;
  background-color: var(--color-white-almost);
  padding: 18px 30px;
  min-width: 357px;
}
.quote__current-price-value {
  margin-right: 25px;
  font-weight: 500;
  font-size: 64px;
}
.quote__current-price-right-wrapper {
  font-weight: 500;
  font-size: 22px;
}
.quote__current-price-change {
  &_positive {
    color: var(--color-green-3);
  }

  &_negative {
    color: var(--color-red);
  }
}
.quote__current-price-change-number {

}
.quote__current-price-currency {
}
.quote__data {
  display: flex;
  align-items: center;
  padding: 20px 30px;
}
.quote__data-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 65px;
}
.quote__data-item {
  display: flex;
}
.quote__data-item-name {
  margin-right: 5px;
  white-space: nowrap;
}
.quote__data-item-value {
  font-weight: 500;
}
.quote__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(185, 185, 185, 0.4);
  border-bottom: 1px solid rgba(185, 185, 185, 0.4);
}
.quote__period {
  padding: 10px 0;
  display: flex;
}
.quote__period-item {
  border-right: 1px solid var(--color-light-grey2);
  padding: 10px 35px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: var(--color-blue-dark-type-2);
  }

  &_active {
    color: var(--color-blue-dark-type-2);
  }
}
.quote__share {
  display: flex;
  display: none;
}
.quote__share-item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.quote__more {
}
.quote__share-btn {
  background-color: var(--color-black);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: rgba(5, 11, 21, 0.8);
  }
}
.quote__documents {
  position: relative;
}
.quote__documents-btn {
}
.quote__documents-list {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%, 95%);
  padding: 10px;
  border: 1px solid var(--color-black);
  border-radius: 2px;
  width: 40px;
  background-color: var(--color-white);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;

  &_active {
    opacity: 1;
    pointer-events: all;
    transform: translate(-50%, 100%);
  }
}
.quote__documents-list-item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
.quote__documents-list-btn {
}
.quote__share-link {
}
.quote__graph {
}
.quote__graph-line {
  padding-top: 25px;
  margin-left: -10px;
}
.quote__graph-bar {
  // width: 1640px;
  // margin-left: -25px;

  &--month {
    // width: 1620px;
    // margin-left: 5px;
  }

  &--week {
    // width: 1606px;
    // margin-left: 5px;
  }
}
.quote__graph-navigation {
  margin: 20px 0 0 -40px;
  padding-right: 40px;
  position: relative;

  canvas {
    pointer-events: none;
  }
}
.quote__graph-navigation-range {
  position: absolute;
  top: 0;
  left: 45px;
  width: 94%;
  height: 100%;
  max-height: 66px;
}
.quote__graph-navigation-range-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 100%;
  cursor: w-resize;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 100%;
    background-color: var(--color-grey-6);
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 24px;
    background-image: url('../img/quote-navigation-btn.svg');
  }
}
.quote__graph-navigation-range-button--min {
  left: 0;
  transform: translate(-50%, -50%);
}
.quote__graph-navigation-range-button--max {
  left: 100%;
  transform: translate(-50%, -50%);
}
.quote__graph-navigation-range-line {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-top: 1px solid #7A7B7E;

  &--min {
    left: 0;
  }

  &--max {
    right: 0;
  }
}